.xsession-errors.old
.xsession-errors
.Xauthority
.w3m/*
.viminfo
.vim/*
Videos/*
.urxvt/*
.QtWebEngineProcess/*
.purple/*
.pki/*
Pictures/*
.ncmpcpp/*
Musics/*
.metadata.json
.local/*
Katiplik/*
.icons/*
.gnupg/*
.fehbg
.esd_auth
Downloads/*
.cache/*
.bash_logout
.bash_history

Documents/*
!Documents/Text Dosyaları

.config/*
!.config/rtorrent
!.config/ranger
!.config/qutebrowser
!.config/neofetch
!.config/ncmpcpp
!.config/nano
!.config/mpd
!.config/i3
!.config/gtk-3.0
