####TEXT DOSYALARI####
.bash_history
.bash_logout
.esd_auth
.fehbg
.metadata.json
.pulse-cookie
.steampath
.steampid
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old

####KLASÖRLER####
.cache/*

.config/*
!.config/rtorrent
!.config/ranger
!.config/qutebrowser
!.config/neofetch
!.config/ncmpcpp
!.config/nano
!.config/mpd
!.config/i3
!.config/gtk-3.0

Documents/*
!Documents/Text Dosyaları
!Documents/Root Ayarları
!Documents/Tor Yapılandırma

Downloads/*
!Downloads/.DownloadsGit

.gnupg/*
.icons/*
.local/*
.lgp/*

Musics/*
!Musics/.MusicsGit

.ncmpcpp/*

Pictures/*
!Pictures/Elephant Man 2.jpg

.pki/*
.purple/*
.QtWebEngineProcess/*
.steam/*
.thumbnails/*
.urxvt/*

Videos/*
!Videos/.VideosGit

.vim/*
.w3m/*
.klei/*
